<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="https://i.ibb.co/CtXXckb/trabajo-en-equipo-1.png" type="image/x-icon" />
  <link rel="stylesheet" href="design.css" />
  <script src="index.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Agregar Vacante | Agencia de Empleo de Bogotá</title>
  <!--== Bootstrap CSS ==-->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <!--== Icofont Icon CSS ==-->
  <link href="assets/css/icofont.css" rel="stylesheet" />
  <!--== Swiper CSS ==-->
  <link href="assets/css/swiper.min.css" rel="stylesheet" />
  <!--== Fancybox Min CSS ==-->
  <link href="assets/css/fancybox.min.css" rel="stylesheet" />
  <!--== Aos Min CSS ==-->
  <link href="assets/css/aos.min.css" rel="stylesheet" />
</head>

<body>
  <%- include("components/navbarEmpresa")%>
    <div class="wrapper">
      <!--== Start Hero Area Wrapper ==-->
      <section class="home-slider-area">
        <div class="home-slider-container default-slider-container">
          <div class="home-slider-wrapper slider-default">
            <div class="slider-content-area" data-bg-img="https://i.ibb.co/ZfrVgL2/Bogota-Inicio.png"
              style="height: 279px;">
              <div class="container pt--0 pb--0">
                <div class="slider-container">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-8">
                      <div class="slider-content">
                        <h1 class="title">Agregar Vacante</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container pt--0 pb--0">
          <div class="row">
            <div class="col-12">
              <div class="play-video-btn">
                <a href="https://www.youtube.com/watch?v=1gUCu2e_JiM&pp=ygUIcmlja3JvbGw%3D" class="video-popup">
                  <img src="assets/img/icons/play.png" alt="Image-HasTech" style="width: 21px;">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="home-slider-shape">
          <img class="shape1" data-aos="fade-down" data-aos-duration="1500" src="https://i.ibb.co/SPkNbVh/vector1.png"
            width="270" height="234" alt="Image-HasTech">
          <img class="shape2" data-aos="fade-left" data-aos-duration="2000" src="https://i.ibb.co/3Cxb1Rj/vector2.png"
            width="201" height="346" alt="Image-HasTech">
          <img class="shape3" data-aos="fade-right" data-aos-duration="2000" src="https://i.ibb.co/C86tjyV/vector3.png"
            width="276" height="432" alt="Image-HasTech">
          <img class="shape4" data-aos="flip-left" data-aos-duration="1500" src="https://i.ibb.co/tDy7pBh/vector4.png"
            width="127" height="121" alt="Image-HasTech">
        </div>
      </section>
      <!--== End Hero Area Wrapper ==-->

<!--== Start Contact Area Wrapper ==-->
<section class="contact-area contact-page-area">
    <div class="container">
      <div class="row contact-page-wrapper">
        <div class="col-lg-12">
          <div class="contact-info-wrap">
            <div class="info-item">
              <div class="icon">
                <i class='bx bxs-medal' style="font-size: 50px; margin-top: 18px;"></i>
              </div>
              <div class="info">
                <p>
                    Al agregar una vacante, estarán abriendo las puertas a un mundo de posibilidades y talento potencial que está buscando una oportunidad laboral.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6" style="display: flex; width: 100%;" >
          <!--== Start Contact Form ==-->
          <div class="col-lg-6">
            <div class="map-area">
              <img src="https://blog.uber-cdn.com/cdn-cgi/image/width=2160,quality=80,onerror=redirect,format=auto/wp-content/uploads/2019/04/Lugares-hist%C3%B3ricos-de-Bogot%C3%A1.png"></img>
            </div>
          </div>
          <div class="vacante-form">
            <h4 class="vacante-form-title">Vacante</h4>
            <form id="vacante-form" action="/agregarVacante" method="POST">
              <div class="row">
                <div class="input-box" style="border-bottom: 0; margin-bottom: 0;">
                    <span class="icon"><i class='bx bxs-user-detail'></i></span>
                    <label for=""><b>¿Pregrado Requerido?</b></label>
                        <div class="checkboxes" style="justify-content: space-around; margin:0px;">
                            <div class="check1">
                              <input type="checkbox" name="tipo" id="checkSi" value="Pregrado Requerido"><label for="checkSi">Si</label>
                            </div>
                            <div class="check2">
                              <input type="checkbox" name="tipo" id="checkNo" value="Pregrado NO Requerido"><label for="checkNo">No</label>
                            </div>
                          </div>
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-user-detail'></i></span>
                    <label for=""><b>Cargo</b>
                      <div class="lo-demás"><b></b></div>
                    </label><input type="text" name="cargo">
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-user-detail'></i></span>
                    <label for=""><b>Fecha Inicio</b>
                      <div class="lo-demás"><b></b></div>
                    </label><input type="date" name="fechaInicio">
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-user-detail'></i></span>
                    <label for=""><b>Fecha Cierre</b>
                      <div class="lo-demás"><b></b></div>
                    </label><input type="date" name="fechaCierre">
                </div>
                <div class="input-box-select4">
                    <span class="icon"><i class='bx bxs-credit-card' ></i></span>
                    <label for=""><b>Salario Mensual</b></label>
                    <div class="select4" id="select4" style="margin-right: 24px;">
                      <div class="contenido-select4">
                        <p>Selecciona</p>
                      </div>
                      <i class='bx bx-chevron-down'></i>
                    </div>
                    <div class="opciones4" id="opciones4">
                      <a href="#" class="opcion4">
                        <div class="contenido-opcion4">
                          <p class="opcionSalario">$0 - $2.000.000</p>
                        </div>
                      </a>
                      <a href="#" class="opcion4">
                        <div class="contenido-opcion4">
                          <p class="opcionSalario">$2.000.000 - $4.000.000</p>
                        </div>
                      </a>
                      <a href="#" class="opcion4">
                        <div class="contenido-opcion4">
                          <p class="opcionSalario">$4.000.000 - $6.000.000</p>
                        </div>
                      </a>
                      <a href="#" class="opcion4">
                        <div class="contenido-opcion4">
                          <p class="opcionSalario">$6.000.000 - $8.000.000</p>
                        </div>
                      </a>
                      <a href="#" class="opcion4">
                        <div class="contenido-opcion4">
                          <p class="opcionSalario">$8.000.000 - $10.000.000</p>
                        </div>
                      </a>
                    </div>
                    <input type="hidden" name="salario" id="inputSelect4" value="">
                  </div>
                <button class="btn">Agregar</button>
              </div>
            </form>
          </div>
          <!--== End Contact Form ==-->
          
        </div>
        </div>
    </div>
</section>

      <!--=======================Javascript============================-->

      <!--=== jQuery Modernizr Min Js ===-->
      <script src="assets/js/modernizr.js"></script>
      <!--=== jQuery Min Js ===-->
      <script src="assets/js/jquery-main.js"></script>
      <!--=== jQuery Migration Min Js ===-->
      <script src="assets/js/jquery-migrate.js"></script>
      <!--=== jQuery Popper Min Js ===-->
      <script src="assets/js/popper.min.js"></script>
      <!--=== jQuery Bootstrap Min Js ===-->
      <script src="assets/js/bootstrap.min.js"></script>
      <!--=== jQuery Swiper Min Js ===-->
      <script src="assets/js/swiper.min.js"></script>
      <!--=== jQuery Fancybox Min Js ===-->
      <script src="assets/js/fancybox.min.js"></script>
      <!--=== jQuery Aos Min Js ===-->
      <script src="assets/js/aos.min.js"></script>
      <!--=== jQuery Counterup Min Js ===-->
      <script src="assets/js/counterup.js"></script>
      <!--=== jQuery Waypoint Js ===-->
      <script src="assets/js/waypoint.js"></script>
      <!--=== jQuery Custom Js ===-->
      <script src="assets/js/custom.js"></script>

<%- include("components/footer")%>
<script src="agregarVacante.js"></script>
  </body>
</html>