<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://i.ibb.co/CtXXckb/trabajo-en-equipo-1.png" type="image/x-icon" />
    <link rel="stylesheet" href="./design.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Inicio de Sesión</title>
  </head>
  <body>
    <header class="nav">
      <div class="navbar1">
           <ul>
              <li><a href="/registro">Registrate</a></li>
              <li><a class="cta" href="/index">Inicia Sesión</a></li>
          </ul>
      </div>
      <nav class="navbar2">
          <a href="/index"><img class="logo" src="https://i.ibb.co/4pFfZzz/Logo-Agencia.png" alt="logo"></a>
      </nav>
    </header>
    <div class="is-contenedor">
        <div class="item">
          <img src="https://i.ibb.co/PM2zDQ4/Bogota.png" alt="Bogota" border="0">
          <div class="text-item">
          <h2>
            ¡Bienvenidx<br>
            <span>a nuestra aplicación web!</span>
          </h2><br>
          <p>Nuestra agencia es una organización líder en el sector de recursos humanos, dedicada a conectar a empresas y empleados de manera efectiva y eficiente.</p>
          </div>
        </div>
        <div class="login-section">
          <div class="form-box-login">
            <form action="/login" method="POST">
              <h3>Inicia Sesión</h3>
              <div class="input-box">
                <span class="icon"><i class='bx bxs-envelope'></i></span>
                <label for=""><b>Correo electrónico</b></label>
                <input name="correo" type="email" required>
              </div>
              <div class="input-box">
                <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                <label for=""><b>Contraseña</b></label>
                <input name="contrasena" type="password" required>
              </div>
              <div class="remember-password">
                <label for=""><input type="checkbox">Recuerdame</label><br>
                <a href="#">Olvidé mi contraseña</a>
              </div>
              <button class="btn">Iniciar Sesión</button>
            </form>
          </div>
        </div>
    </div>
    <%- include("components/footer")%>
  </body>
</html>