<!-- <!DOCTYPE html>
<html lang="en-US"> -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home | Agencia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://i.ibb.co/CtXXckb/trabajo-en-equipo-1.png" type="image/x-icon" />
        <link rel="stylesheet" href="design.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head> 
    <body> 
        <header>
                <div class="nav1">
                    <div class="nav1-container">
                     <!--<a href="<?php if($_SESSION['user']=="admin"){echo 'tracking-admin';}else{echo 'drivers';} ?>">-->
                     <p>Bienvenido <b>Agente</b><!--<?php echo $_SESSION['user']; ?>!--></p>
                     </a>
                     <img src="https://i.ibb.co/P4jc88X/agente-de-centro-de-llamadas.png" alt="Driver">
                     <a id=logout href="logout">Cerrar Sesión</a></div>
                </div>
                <nav class="navbar2">
                    <a href="index"><img class="logo" src="https://i.ibb.co/4pFfZzz/Logo-Agencia.png"></a>
                        <label for="btn" class="btn-menu">
                            <span class="material-icons" style="font-size: 50px; margin-top: 12px;">menu</span>
                        </label>
                        <input class="checkbox" type="checkbox" id="btn">
                        <ul>
                            <li>
                                <a href="contact-us">Mis Procesos
                                <div class="point">
                                    <span class="material-icons" style="font-size: x-small;">fiber_manual_record</span>
                                </div></a>
                            </li>
                            <li>
                                <a class="cta" href="quote">Nueva Vinculación</a>
                            </li>
                        </ul>         
                </nav>
        </header>
    <!-- </body> -->
    <!-- </html> -->