<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://i.ibb.co/CtXXckb/trabajo-en-equipo-1.png" type="image/x-icon" />
    <link rel="stylesheet" href="design.css" />
    <script src="index.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Sobre la Empresa | Agencia de EMpleo de Bogotá</title>
    <!--== Bootstrap CSS ==-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Icofont Icon CSS ==-->
    <link href="assets/css/icofont.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="assets/css/fancybox.min.css" rel="stylesheet" />
    <!--== Aos Min CSS ==-->
    <link href="assets/css/aos.min.css" rel="stylesheet" />
  </head>
  <body>
    <header class="nav">
      <div class="navbar1">
           <ul>
              <li><a href="Registro.html">Registrate</a></li>
              <li><a class="cta" href="index.html">Inicia Sesión</a></li>
          </ul>
      </div>
      <nav class="navbar2">
          <a href="homeAgencia.html"><img class="logo" src="https://i.ibb.co/4pFfZzz/Logo-Agencia.png" alt="logo"></a>
      </nav>
    </header>
   <div class="wrapper">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area">
      <div class="home-slider-container default-slider-container">
        <div class="home-slider-wrapper slider-default">
          <div class="slider-content-area" data-bg-img="https://i.ibb.co/ZfrVgL2/Bogota-Inicio.png" style="height: 279px;">
            <div class="container pt--0 pb--0">
              <div class="slider-container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-12 col-lg-8">
                    <div class="slider-content">
                      <h1 class="title">Mis Procesos</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="play-video-btn">
              <a href="https://www.youtube.com/watch?v=1gUCu2e_JiM&pp=ygUIcmlja3JvbGw%3D" class="video-popup">
                <img src="assets/img/icons/play.png" alt="Image-HasTech" style="width: 21px;">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="home-slider-shape">
        <img class="shape1" data-aos="fade-down" data-aos-duration="1500" src="https://i.ibb.co/SPkNbVh/vector1.png" width="270" height="234" alt="Image-HasTech">
        <img class="shape2" data-aos="fade-left" data-aos-duration="2000" src="https://i.ibb.co/3Cxb1Rj/vector2.png" width="201" height="346" alt="Image-HasTech">
        <img class="shape3" data-aos="fade-right" data-aos-duration="2000" src="https://i.ibb.co/C86tjyV/vector3.png" width="276" height="432" alt="Image-HasTech">
        <img class="shape4" data-aos="flip-left" data-aos-duration="1500" src="https://i.ibb.co/tDy7pBh/vector4.png" width="127" height="121" alt="Image-HasTech">
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->

<!--== Start Blog Area Wrapper ==-->
<section class="blog-area blog-grid-area">
    <div class="container">
      <div class="row justify-content-between flex-xl-row-reverse">
        <div class="col-xl-4">
            <div class="blog-sidebar blog-sidebar-left">
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Filtrar por</h3>
                </div>
                <div class="widget-body">
                  <div class="widget-categories">
                    <ul>
                      <li><a href="#">Empresa<span>(#)</span></a></li>
                      <li><a href="#">Cargo<span>(#)</span></a></li>
                      <li><a href="#">Fecha Realización<span>(#)</span></a></li>
                      <li><a href="#">Aspirante<span>(#)</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-xl-8">
          <div class="row row-gutter-70">
            <div class="col-sm-6 col-lg-4 col-xl-6">
              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                <div class="recent-job-item">
                    <div class="main-content">
                        <h3 class="title"><a href="#">Cargo</a></h3>
                        <h4 class="estado-espera">En espera</h4>
                        <h4 class="estado-activo">Activo</h4>
                        <h4 class="estado-finalizado">Finalizado</h4>
                        <p class="desc">Empresa: <br> Aspirante: <br> Fecha: <br> Rando Edad: </p>
                      </div>
                  </div>
              </div>
              <!--== End Blog Post Item ==-->
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-6">
              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                <div class="recent-job-item">
                    <div class="main-content">
                        <h3 class="title"><a href="#">Cargo</a></h3>
                        <h4 class="estado-espera">En espera</h4>
                        <h4 class="estado-activo">Activo</h4>
                        <h4 class="estado-finalizado">Finalizado</h4>
                        <p class="desc">Empresa: <br> Aspirante: <br> Fecha: <br> Rando Edad: </p>
                      </div>
                  </div>
              </div>
              <!--== End Blog Post Item ==-->
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-6">
              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                <div class="recent-job-item">
                    <div class="main-content">
                        <h3 class="title"><a href="#">Cargo</a></h3>
                        <h4 class="estado-espera">En espera</h4>
                        <h4 class="estado-activo">Activo</h4>
                        <h4 class="estado-finalizado">Finalizado</h4>
                        <p class="desc">Empresa: <br> Aspirante: <br> Fecha: <br> Rando Edad: </p>
                      </div>
                  </div>
              </div>
              <!--== End Blog Post Item ==-->
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-6">
              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                
              </div>
              <!--== End Blog Post Item ==-->
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-6">
              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                
              </div>
              <!--== End Blog Post Item ==-->
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-6">
              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                
              </div>
              <!--== End Blog Post Item ==-->
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-6">
              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                
              </div>
              <!--== End Blog Post Item ==-->
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-6">
              <!--== Start Blog Post Item ==-->
              <div class="post-item">
                
              </div>
              <!--== End Blog Post Item ==-->
            </div>
            <div class="col-12 text-left">
              <div class="pagination-area">
                <nav>
                  <ul class="page-numbers d-inline-flex">
                    <li>
                      <a class="page-number active" href="#">1</a>
                    </li>
                    <li>
                      <a class="page-number" href="#">2</a>
                    </li>
                    <li>
                      <a class="page-number" href="#">3</a>
                    </li>
                    <li>
                      <a class="page-number" href="#">4</a>
                    </li>
                    <li>
                      <a class="page-number next" href="#">
                        <i class="icofont-long-arrow-right"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!--== End Blog Area Wrapper ==-->

<!--=======================Javascript============================-->

<!--=== jQuery Modernizr Min Js ===-->
<script src="assets/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="assets/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="assets/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="assets/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="assets/js/bootstrap.min.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="assets/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="assets/js/fancybox.min.js"></script>
<!--=== jQuery Aos Min Js ===-->
<script src="assets/js/aos.min.js"></script>
<!--=== jQuery Counterup Min Js ===-->
<script src="assets/js/counterup.js"></script>
<!--=== jQuery Waypoint Js ===-->
<script src="assets/js/waypoint.js"></script>
<!--=== jQuery Custom Js ===-->
<script src="assets/js/custom.js"></script>

    <footer>
      <div class="wave" style="height: 63px; overflow: hidden;">
        <p>Julie Ibarra - Juan Ballén<br>Bases de Datos, 2023-1.</p>
        <svg viewBox="0 0 300 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
          <path d="M-1.41,0.50 C112.02,0.50 254.22,143.58 500.84,68.58 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #000000;"></path>
        </svg>
      </div>
    </footer>
  </body>
</html>