<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="https://i.ibb.co/CtXXckb/trabajo-en-equipo-1.png" type="image/x-icon" />
  <link rel="stylesheet" href="design.css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Registro</title>
</head>

<body>
  <header class="nav">
    <div class="navbar1">
      <ul>
        <li><a href="/registro">Registrate</a></li>
        <li><a class="cta" href="/index">Inicia Sesión</a></li>
      </ul>
    </div>
    <nav class="navbar2">
      <a href="/index"><img class="logo" src="https://i.ibb.co/4pFfZzz/Logo-Agencia.png" alt="logo"></a>
    </nav>
  </header>
  <div class="is-contenedor">
    <div class="item">
      <img src="https://i.ibb.co/PM2zDQ4/Bogota.png" alt="Bogota">
      <div class="text-item">
        <h2>
          ¡Bienvenidx<br>
          <span>a nuestra aplicación web!</span>
        </h2><br>
        <p>Nuestra agencia es una organización líder en el sector de recursos humanos, dedicada a conectar a empresas y
          empleados de manera efectiva y eficiente.</p>
      </div>
    </div>
    <div class="signin-section">
      <div class="form-box-signin">

        <!-- ! INICIO FORM ! -->
        <form id="formularioRegistro" action="/registro" method="POST">
          <h3>Registro</h3>
          <div class="checkboxes">
            <div class="check1">
              <input type="checkbox" name="tipo" id="checkEmpresa" value="empresa"><label
                for="checkEmpresa">Empresa</label>
            </div>
            <div class="check2">
              <input type="checkbox" name="tipo" id="checkDesempleado" value="desempleado"><label
                for="checkDesempleado">Desempleado</label>
            </div>
          </div>

          <div class="signin-section-desempleado" id="sigin-desempleado" style="display: none;">
            <div class="input-box">
              <span class="icon"><i class='bx bxs-user-detail'></i></span>
              <label for=""><b>Nombre</b>
                <div class="lo-demás"><b></b></div>
              </label><input type="text" name="nombre">
            </div>
            <div class="input-box-select2">
              <span class="icon"><i class='bx bxs-map'></i></span>
              <label for=""><b>Profesion</b></label><br>
              <div class="select2" id="select2">
                <div class="contenido-select2">
                  <p>Selecciona</p>
                </div>
                <i class='bx bx-chevron-down'></i>
              </div>
              <div class="opciones2" id="opciones2">
                <a href="#" class="opcion2">
                  <div class="contenido-opcion2">
                    <p class="opcionProfesion">Ingenieria en Multimedia</p>
                  </div>
                </a>
                <a href="#" class="opcion2">
                  <div class="contenido-opcion2">
                    <p class="opcionProfesion">Medicina</p>
                  </div>
                </a>
                <a href="#" class="opcion2">
                  <div class="contenido-opcion2">
                    <p class="opcionProfesion">Diseñador Gráfico</p>
                  </div>
                </a>
                <a href="#" class="opcion2">
                  <div class="contenido-opcion2">
                    <p class="opcionProfesion">Lenguas Modernas</p>
                  </div>
                </a>
                <a href="#" class="opcion2">
                  <div class="contenido-opcion2">
                    <p class="opcionProfesion">Economia</p>
                  </div>
                </a>
              </div>
              <input type="hidden" name="profesion" id="inputSelect2" value="">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-phone'></i></span>
              <label for=""><b>Telefono</b></label>
              <input type="tel" name="telefono" >
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-home'></i></span>
              <label for=""><b>Direccion</b></label>
              <input name="direccion" type="text">
            </div>
            <div class="input-box-select1">
              <span class="icon"><i class='bx bxs-map'></i></span>
              <label for=""><b>Ciudad y Pais</b></label><br>
              <div class="select1" id="select1">
                <div class="contenido-select1">
                  <p>Selecciona</p>
                </div>
                <i class='bx bx-chevron-down'></i>
              </div>
              <div class="opciones1" id="opciones1" style="position: inherit; z-index: 300;">
                <a href="#" class="opcion1">
                  <div class="contenido-opcion1">
                    <p class="opcionPais1">Bogotá, CO</p>
                  </div>
                </a>
              </div>
              <input type="hidden" name="pais" id="inputSelect1" value="">
            </div>
            <div class="input-box-select4">
              <span class="icon"><i class='bx bxs-credit-card' ></i></span>
              <label for=""><b>Salario Deseado</b></label>
              <div class="select4" id="select4">
                <div class="contenido-select4">
                  <p>Selecciona</p>
                </div>
                <i class='bx bx-chevron-down'></i>
              </div>
              <div class="opciones4" id="opciones4">
                <a href="#" class="opcion4">
                  <div class="contenido-opcion4">
                    <p class="opcionSalario">$0 - $2.000.000</p>
                  </div>
                </a>
                <a href="#" class="opcion4">
                  <div class="contenido-opcion4">
                    <p class="opcionSalario">$2.000.000 - $4.000.000</p>
                  </div>
                </a>
                <a href="#" class="opcion4">
                  <div class="contenido-opcion4">
                    <p class="opcionSalario">$4.000.000 - $6.000.000</p>
                  </div>
                </a>
                <a href="#" class="opcion4">
                  <div class="contenido-opcion4">
                    <p class="opcionSalario">$6.000.000 - $8.000.000</p>
                  </div>
                </a>
                <a href="#" class="opcion4">
                  <div class="contenido-opcion4">
                    <p class="opcionSalario">$8.000.000 - $10.000.000</p>
                  </div>
                </a>
              </div>
              <input type="hidden" name="salario" id="inputSelect4" value="">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-spreadsheet'></i></span>
              <label for=""><b>Hoja de Vida</b></label>
              <input name="cv" type="url" placeholder="Inserte el link">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-video'></i></i></span>
              <label for=""><b>Video</b></label>
              <input name="video" type="url" placeholder="Inserte el Link">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-envelope'></i></span>
              <label for=""><b>Correo electrónico</b></label>
              <input name="usuarioCorreo" type="email">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-lock-alt'></i></span>
              <label for=""><b>Contraseña</b></label>
              <input name="contrasena" type="password">
            </div>
          </div>

          <div class="signin-section-empresa" id="sigin-empresa" style="display: none;">
            <div class="input-box">
              <span class="icon"><i class='bx bxs-user-detail'></i></span>
              <label for=""><b>Nombre de la Empresa</b>
                <div class="lo-demás"><b></b></div>
              </label><input name="nombreE" type="text">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-user-detail'></i></span>
              <label for=""><b>NIT</b>
                <div class="lo-demás"><b></b></div>
              </label><input name="nitE" type="number">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-universal-access'></i></span>
              <label for=""><b>Razón Social</b>
                <div class="lo-demás"><b></b></div>
              </label><input name="razonSocialE" type="text">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bx-female'></i></i></span>
              <label for=""><b>Representante</b>
                <div class="lo-demás"><b></b></div>
              </label><input name="representanteE" type="text">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-phone'></i></span>
              <label for=""><b>Telefono</b></label>
              <input name="telefonoE" type="tel">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-home'></i></span>
              <label for=""><b>Direccion</b></label>
              <input name="direccionE" type="text">
            </div>
            <div class="input-box-select3">
              <span class="icon"><i class='bx bxs-map'></i></span>
              <label for=""><b>Sede</b></label><br>
              <div class="select3" id="select3">
                <div class="contenido-select3">
                  <p>Selecciona</p>
                </div>
                <i class='bx bx-chevron-down'></i>
              </div>
              <div class="opciones3" id="opciones3" style="position: inherit; z-index: 300;">
                <a href="#" class="opcion3">
                  <div class="contenido-opcion3">
                    <p class="opcionSede">Norte</p>
                  </div>
                </a>
                <a href="#" class="opcion3">
                  <div class="contenido-opcion3">
                    <p class="opcionSede">Sur</p>
                  </div>
                </a>
                <a href="#" class="opcion3">
                  <div class="contenido-opcion3">
                    <p class="opcionSede">Occidente</p>
                  </div>
                </a>
                <a href="#" class="opcion3">
                  <div class="contenido-opcion3">
                    <p class="opcionSede">Oriente</p>
                  </div>
                </a>
              </div>
              <input type="hidden" name="sedeE" id="inputSelect3" value="">
            </div>
            <div class="input-box-select">
              <span class="icon"><i class='bx bxs-map'></i></span>
              <label for=""><b>Ciudad y Pais</b></label><br>
              <div class="select" id="select">
                <div class="contenido-select">
                  <p>Selecciona</p>
                </div>
                <i class='bx bx-chevron-down'></i>
              </div>
              <div class="opciones" id="opciones">
                <a href="#" class="opcion">
                  <div class="contenido-opcion">
                    <p class="opcionPais">Bogotá, CO</p>
                  </div>
                </a>
                <a href="#" class="opcion">
                  <div class="contenido-opcion">
                    <p class="opcionPais">New York, USA</p>
                  </div>
                </a>
                <a href="#" class="opcion">
                  <div class="contenido-opcion">
                    <p class="opcionPais">Montreal, CA</p>
                  </div>
                </a>
              </div>
              <input type="hidden" name="paisE" id="inputSelect" value="">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-envelope'></i></span>
              <label for=""><b>Correo electrónico</b></label>
              <input name="empresaCorreo" type="email">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-lock-alt'></i></span>
              <label for=""><b>Contraseña</b></label>
              <input name="contrasenaE" type="password">
            </div>
          </div>
          <button class="btn">Registrarse</button>
        </form>
        <!-- ! FIN FORM ! -->

      </div>
    </div>
  </div>
  <%- include("components/footer")%>
  <script src="index.js"></script>
</body>

</html>