<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="https://i.ibb.co/CtXXckb/trabajo-en-equipo-1.png" type="image/x-icon" />
  <link rel="stylesheet" href="design.css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Registro</title>
</head>

<body>
  <header class="nav">
    <div class="navbar1">
      <ul>
        <li><a href="/registro">Registrate</a></li>
        <li><a class="cta" href="/index">Inicia Sesión</a></li>
      </ul>
    </div>
    <nav class="navbar2">
      <a href="/index"><img class="logo" src="https://i.ibb.co/4pFfZzz/Logo-Agencia.png" alt="logo"></a>
    </nav>
  </header>
  <div class="is-contenedor">
    <div class="item">
      <img src="https://i.ibb.co/PM2zDQ4/Bogota.png" alt="Bogota">
      <div class="text-item">
        <h2>
          ¡Bienvenidx<br>
          <span>a nuestra aplicación web!</span>
        </h2><br>
        <p>Nuestra agencia es una organización líder en el sector de recursos humanos, dedicada a conectar a empresas y
          empleados de manera efectiva y eficiente.</p>
      </div>
    </div>
    <div class="signin-section">
      <div class="form-box-signin">

        <!-- ! INICIO FORM ! -->
        <form id="formularioRegistro" action="/registro" method="POST">
          <h3>Registro</h3>
          <div class="checkboxes">
            <div class="check1">
              <input type="checkbox" name="tipo" id="checkEmpresa" value="empresa"><label
                for="checkEmpresa">Empresa</label>
            </div>
            <div class="check2">
              <input type="checkbox" name="tipo" id="checkDesempleado" value="desempleado"><label
                for="checkDesempleado">Desempleado</label>
            </div>
          </div>

          <div class="signin-section-desempleado" id="sigin-desempleado" style="display: none;">
            <div class="input-box">
              <span class="icon"><i class='bx bxs-user-detail'></i></span>
              <label for=""><b>Nombre</b>
                <div class="lo-demás"><b></b></div>
              </label><input name="nombre" type="text" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-user-detail'></i></span>
              <label for=""><b>Profesión</b>
                <div class="lo-demás"><b></b></div>
              </label><input name="profesion" type="text" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-phone'></i></span>
              <label for=""><b>Telefono</b></label>
              <input name="telefono" type="tel" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-home'></i></span>
              <label for=""><b>Direccion</b></label>
              <input name="direccion" type="text" required>
            </div>
            <div class="input-box-select">
              <span class="icon"><i class='bx bxs-map'></i></span>
              <label for=""><b>Ciudad y Pais</b></label><br>
              <div class="select" id="select">
                <div class="contenido-select">
                  <p>Selecciona</p>
                </div>
                <i class='bx bx-chevron-down'></i>
              </div>
              <div class="opciones" id="opciones">
                <a href="#" class="opcion">
                  <div class="contenido-opcion">
                    <p class="opcionPais">Bogotá, CO</p>
                  </div>
                </a>
              </div>
              <input type="hidden" name="pais" id="inputSelect1" value="">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-spreadsheet'></i></span>
              <label for=""><b>Hoja de Vida</b></label>
              <input type="url" placeholder="Inserte el link" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-video'></i></i></span>
              <label for=""><b>Video</b></label>
              <input type="url" placeholder="Inserte el Link" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-envelope'></i></span>
              <label for=""><b>Correo electrónico</b></label>
              <input type="email" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-lock-alt'></i></span>
              <label for=""><b>Contraseña</b></label>
              <input type="password" required>
            </div>
          </div>

          <div class="signin-section-empresa" id="sigin-empresa" style="display: none;">
            <div class="input-box">
              <span class="icon"><i class='bx bxs-user-detail'></i></span>
              <label for=""><b>Nombre de la Empresa</b>
                <div class="lo-demás"><b></b></div>
              </label><input type="text" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-user-detail'></i></span>
              <label for=""><b>NIT</b>
                <div class="lo-demás"><b></b></div>
              </label><input type="number" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-universal-access'></i></span>
              <label for=""><b>Razón Social</b>
                <div class="lo-demás"><b></b></div>
              </label><input type="text" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bx-female'></i></i></span>
              <label for=""><b>Representante</b>
                <div class="lo-demás"><b></b></div>
              </label><input type="text" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-phone'></i></span>
              <label for=""><b>Telefono</b></label>
              <input type="tel" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-home'></i></span>
              <label for=""><b>Direccion</b></label>
              <input type="text" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-buildings'></i></span>
              <label for=""><b>Sede</b></label>
              <input type="text" required>
            </div>
            <div class="input-box-select">
              <span class="icon"><i class='bx bxs-map'></i></span>
              <label for=""><b>Ciudad y Pais</b></label><br>
              <div class="select" id="select">
                <div class="contenido-select">
                  <p>Selecciona</p>
                </div>
                <i class='bx bx-chevron-down'></i>
              </div>
              <div class="opciones" id="opciones">
                <a href="#" class="opcion">
                  <div class="contenido-opcion">
                    <p class="opcionPais">Bogotá, CO</p>
                  </div>
                </a>
                <a href="#" class="opcion">
                  <div class="contenido-opcion">
                    <p class="opcionPais">New York, USA</p>
                  </div>
                </a>
                <a href="#" class="opcion">
                  <div class="contenido-opcion">
                    <p class="opcionPais">Montreal, CA</p>
                  </div>
                </a>
              </div>
              <input type="hidden" name="pais" id="inputSelect2" value="">
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-envelope'></i></span>
              <label for=""><b>Correo electrónico</b></label>
              <input type="email" required>
            </div>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-lock-alt'></i></span>
              <label for=""><b>Contraseña</b></label>
              <input type="password" required>
            </div>
          </div>
          <button class="btn">Registrarse</button>
        </form>
        <!-- ! FIN FORM ! -->

      </div>
    </div>
  </div>
  <footer>
    <div class="wave" style="height: 63px; overflow: hidden;">
      <p>Julie Ibarra - Juan Ballén<br>Bases de Datos, 2023-1.</p>
      <svg viewBox="0 0 300 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M-1.41,0.50 C112.02,0.50 254.22,143.58 500.84,68.58 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #000000;"></path>
      </svg>
    </div>
  </footer>
  <script src="index.js"></script>
</body>

</html>