<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Saborit Express</title>
                <link rel="stylesheet" href="stylefooter.css">
    <link rel="shortcut icon" href="https://i.ibb.co/0mVtLWn/logo-png.png" type="image/x-icon">
    <link rel="stylesheet" href="design.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <footer>
        <div class="wave" style="height: 69px; overflow: hidden; background-color: gray;"><p>Julie Ibarra - Juan Ballén<br>Bases de Datos, 2023-1.</p><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.41,0.50 C112.02,0.50 254.22,143.58 500.84,68.58 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #000000;"></path></svg></div>
    </footer>
<!-- </body> -->
<!-- </html> -->